<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.iut.tpservlet.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexLigneServlet</servlet-name>
        <servlet-class>com.iut.tpservlet.IndexLigneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.iut.tpservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.iut.tpservlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLigneServlet</servlet-name>
        <servlet-class>com.iut.tpservlet.NewLigneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewStationServlet</servlet-name>
        <servlet-class>com.iut.tpservlet.NewStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexLigneServlet</servlet-name>
        <url-pattern>/IndexLigne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLigneServlet</servlet-name>
        <url-pattern>/NewLigne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewStationServlet</servlet-name>
        <url-pattern>/NewStation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
